<!DOCTYPE html>
<html lang="en">
	<head>
		<% include common/head.ejs %>
		<title>Let's Remin Daniel - Admin</title>
	</head>
	<body>
		<% include common/nav.ejs %>
		<main>
			<h1><a href="/admin/record">Record</a></h1>
			<% if(isAdmin){ %>
				<h1><a href="/admin/User">User</a></h1>
			<% } %>
		</main>
	</body>
</html>
