<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/login.css">
		<title>Login</title>
	</head>
	<body>
		<h1>Login</h1>
		<form action="/login/auth" method="post">
			<label for="username">username: </label>
			<input type="text" name="username" id="username">
			<br>
			<label for="password">password: </label>
			<input type="text" name="password" id="password">
		</form>
	</body>
</html>
