<!DOCTYPE html>
<html lang="en">
	<head>
		<% include common/head.ejs%>
		<title>Let's Remin Daniel - Signup</title>
	</head>
	<body>
		<% include common/nav.ejs %>
		<main>
			<h1>Signup</h1>
			<form action="/signup" method="post">
				<div class=warming>
					<div class="warming-msg">
						<h3></h3>
					</div>
					<a class="icon" href="#" data-close=".warming"><img src="/images/svg/close.svg" alt=""></a>
				</div>
				<label for="username">username(email):</label>
				<input
					id="username"
					type="email"
					name="username"
					tabindex="1"
					required>
				<label for="realname">realname:</label>
				<input
					id="realname"
					type="text" 
					name="realname" 
					tabindex="2" 
					required>
				<label for="password">password(at least 6 char):</label>
				<input 
					id="password" 
					type="password"
	 				minlength="6"
	  				name="password"
	   				tabindex="3" 
					required>
				<label for="password">confirm password:</label>
				<input 
					id="c-password" 
					type="password" 
					minlength="6" 
	 				name="c-password" 
	  				tabindex="4" 
	   				required>
				<div class="form-bottom">
					<button id="signup" type="submit" tabindex="5">Signup</button>
					<button id="login" type="button" tabindex="6">Login</button>
				</div>
			</form>
		</main>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/script.js"></script>
		<script src="/javascripts/signup.js"></script>
		<script src="/javascripts/component/warming.js"></script>
	</body>
</html>
