<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<title>Let's Remin Daniel - Submit</title>
	</head>
	<body>
		<% include common/nav.ejs %>
		<main>
			<form action="/submit" method="post">
				<label for="content">content</label>
				<textarea id="content" name="content" cols="30" rows="10"></textarea>
				<div class="form-bottom">
					<button type="submit">Submit</button>
				</div>
			</form>
		</main>
	</body>
</html>
