<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<title>Let's Remin Daniel - Submit</title>
	</head>
	<body>
		<% include common/nav.ejs %>
		<main>
		<h1>Submit</h1>
			<form action="/submit" method="post">
				<% include common/warming.ejs %>
				<label for="content">content</label>
				<textarea id="content" name="content" cols="30" rows="10"></textarea>
				<div class="form-bottom">
					<button type="submit">Submit</button>
				</div>
			</form>
		</main>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/component/warming.js"></script>
		<script src="/javascripts/script.js"></script>
		<script src="/javascripts/submit.js"></script>
	</body>
</html>
