<!DOCTYPE html>
<html lang="en">
	<head>
		<% include common/head.ejs %>
		<title>Let's Remin Daniel - Login</title>
	</head>
	<body>
		<% include common/nav.ejs %>
		<main>

		</main>
	</body>
</html>
