<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/login.css">
		<title>Login</title>
	</head>
	<body>
		<% if(status == 'login'){%>
		<h1>Login</h1>
		<form action="/user/login" method="post">
			<div class=warming>
				<div class="warming-msg">
					<h3></h3>
				</div>
				<a class="icon" href="#" data-close=".warming"><img src="/images/svg/close.svg" alt=""></a>
			</div>
			<label for="username">username: </label>
			<input type="text" name="username" id="username" required>
			<br>
			<label for="password">password: </label>
			<input type="password" name="password" id="password" required>
			<button id="login" type="submit">Login</button>
		</form>
		<% }else if(status == 'success'){ %>
			<h2>Loginned !</h2>
		<% }else if(status == 'fail'){ %>
			<h2>Fail !</h2>
		<% } %>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/script.js"></script>
		<script src="/javascripts/login.js"></script>
	</body>
</html>
