<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/login.css">
		<title>Login</title>
	</head>
	<body>
		<% if(status == 'login'){%>
		<h1>Login</h1>
		<form action="/user/login" method="post">
			<% if(locals.error){ %>
				<div class=warming>
					<div class="warming-msg">
						<h3><%= error %></h3>
					</div>
					<a class="icon" href="#" data-close=".warming"><img src="/images/svg/close.svg" alt=""></a>
				</div>
			<% } %>
			<label for="username">username: </label>
			<input type="text" name="username" id="username">
			<br>
			<label for="password">password: </label>
			<input type="password" name="password" id="password">
			<button type="submit">Login</button>
		</form>
		<% }else if(status == 'success'){ %>
			<h2>Loginned !</h2>
		<% }else if(status == 'fail'){ %>
			<h2>Fail !</h2>
		<% } %>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="/javascripts/script.js"></script>
	</body>
</html>
