form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 0% 20%;
}

form .title td{
	text-align: center;
}

form label {
	text-transform:capitalize;
}

form input {
	padding-bottom: 10px;
	margin: 10px 0px 10px 10px;
	display: block;
	border: none;
	border-bottom: solid 1px var(--color);
	transition: all 0.3s ease;
	color: #222
}

form input:focus {
	transform: scale(1.2);
}

form button {
	margin: 0px 5px 0px 5px;
	border: none;
	background: var(--color);
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
	width: 200px;
	color: white;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	transition: all 0.3s ease;
}

form button:hover {
	transform: translateY(-3px);
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
}

form .form-bottom {
	display: flex;
	justify-content: space-evenly;
}

form textarea {
	border: black solid 1px;
	border-radius: 10px;
	resize: none;
}
