<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="keywords" content="Daniel, simba-fs, let's remind dainel, ">
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>Let's Remind Daniel</title>
<!-- Search Engine -->
<meta name="description" content="王品庠有很多事情會忘記，大家一起來提醒他吧！">
<meta name="image" content="https://daniel.simba.nctu.me/images/meta.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Let's Remind Daniel">
<meta itemprop="description" content="王品庠有很多事情會忘記，大家一起來提醒他吧！">
<meta itemprop="image" content="https://daniel.simba.nctu.me/images/meta.png">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Let's Remind Daniel">
<meta name="twitter:description" content="王品庠有很多事情會忘記，大家一起來提醒他吧！">
<meta name="twitter:site" content="@simbafs">
<meta name="twitter:creator" content="@simbafs">
<meta name="twitter:image:src" content="https://daniel.simba.nctu.me/images/meta.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Let's Remind Daniel">
<meta name="og:description" content="王品庠有很多事情會忘記，大家一起來提醒他吧！">
<meta name="og:image" content="https://daniel.simba.nctu.me/images/meta.png">
<meta name="og:url" content="https://daniel.simba.nctu.me">
<meta name="og:site_name" content="Let's Remind Daniel">
<meta name="og:type" content="website">
<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/style.css">
