<nav>
	<a class="nav-brand" href="/"><img src="/images/daniel.jpg" alt="Daniel"></a>
	<ul>
		<li><a href="#"><img src="/images/svg/submit.svg" alt="Submit"></a></li>
		<li><a href="#"><img src="/images/svg/login.svg" alt="Login"></a></li>
		<li><a href="#"><img src="/images/svg/signup.svg" alt="Signup"></a></li>
		<li><a href="#"><img src="/images/svg/github.svg" alt="GitHub"></a></li>
	</ul>
</nav>
