<nav>
	<a class="nav-brand" href="/"><img src="/images/daniel.jpg" alt="Daniel"></a>
	<ul>
		<% if(locals.isAuthenticated){ %>
			<li data-tooltip="admin"><a href="/admin"><img src="/images/svg/admin.svg" alt="Admin"></a></li>
		<% } %>
		<li data-tooltip="rawText"><a href="/raw"><img src="/images/svg/text.svg" alt="Text"></a></li>
		<li data-tooltip="jsonFormat"><a href="/json"><img src="/images/svg/json.svg" alt="JSON"></a></li>
		<% if(locals.isAuthenticated){ %>
			<li data-tooltip="submit"><a href="/submit"><img src="/images/svg/submit.svg" alt="Submit"></a></li>
		<% }else{ %>
			<li data-tooltip="login"><a href="/login"><img src="/images/svg/login.svg" alt="Login"></a></li>
			<li data-tooltip="signup"><a href="/signup"><img src="/images/svg/signup.svg" alt="Signup"></a></li>
		<% } %>
		<li data-tooltip="github"><a href="https://github.com/simba-fs/daniel" target="_blank"><img src="/images/svg/github.svg" alt="GitHub"></a></li>
		<li data-tooltip="help"><a href="/help"><img src="/images/svg/question.svg" alt="help"></a></li>
	</ul>
</nav>
