<nav>
	<a class="nav-brand" href="/"><img src="/images/daniel.jpg" alt="Daniel"></a>
	<ul>
		<li><a href="/raw"><img src="/images/svg/text.svg" alt="Text"></a></li>
		<li><a href="/json"><img src="/images/svg/json.svg" alt="JSON"></a></li>
		<li><a href="/submit"><img src="/images/svg/submit.svg" alt="Submit"></a></li>
		<li><a href="/login"><img src="/images/svg/login.svg" alt="Login"></a></li>
		<li><a href="/signup"><img src="/images/svg/signup.svg" alt="Signup"></a></li>
		<li><a href="https://github.com/simba-fs/daniel" target="_blank"><img src="/images/svg/github.svg" alt="GitHub"></a></li>
	</ul>
</nav>
